#search{
    /* margin-left: 8vw !important; */
    width: 35vw !important;
    /* margin-right: 1vw !important; */
}

#searchbtn{
    position: absolute;
    width: 5vw !important;

    
}


#dd{
    margin-right: 118px !important;
}

.logo{

    margin-left: 10px !important;
    background-color: transparent;

}