.box{
    margin-left: 20vw !important;
    margin-top: 10vw !important;
}
.k2{
    margin-top: 10vh;
    color: black;
}

.cardd{
    position:relative !important;
    margin-left: 0px !important;
    margin-top: 10px !important;

}
 