.pic {
    background-image: url(https://media.istockphoto.com/id/938453686/photo/abstract-red-dreamy-background.jpg?s=612x612&w=0&k=20&c=vmLUO8xKr4B-lzgOqhEkfY_tMjF_XYukeLUXlNPsY6M=) !important;
    background-size: cover;
    /* background-color: #E1F5FE; */

    min-height: 100vh !important;


}





.userptext {

    color: black;
    /* text-align: left; */
    /* margin-left: 3vw !important; */
    margin-top: 10px !important;


}

.line {
    margin-left: 10vw !important;
}

.textbox {
    width: 32vw;
    /* margin-left: 33vw !important; */
    margin-top: 10px !important;
    margin-bottom: 10px !important;


}


label {
    margin-top: 18px !important;
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: large !important;
}


/* #gender{

    margin-top: 10px !important;
    margin-bottom: 10px !important;
    /* margin-left: 33vw !important; 
} */

.cent {
    margin-left: 29vw;
    align-self: center !important;

}