/* .Auth-form-title {

  font-family: Verdana, Geneva, Tahoma, sans-serif;


} */

.Auth-form-container {

  background: url(./R.jpeg) no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}










.sub {
  width: 16.5vw !important;
  margin-bottom: 10px !important;
}



.adm {
  width: 8.25vw !important;
  margin-right: .25vw !important;

}

.mgr {
  width: 8vw !important;
  margin-left: 1vw !important;
}

.link-primary {
  color: red !important;



}

.link-primary:hover {
  color: palevioletred !important;
  cursor: pointer;
}

.link-primary:click {
  color: palevioletred !important;
}

.balance {
  margin-top: 5vh;
}